:root {
  --scenePerspective: .7;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 25;
  --itemZ: 3;
  --cameraSpeed: 150;
  --cameraZ: 60;
  --viewportHeight: 5;
}

.viewport {
  height: calc(var(--viewportHeight) * 1px);
}
.viewport .scene3D-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}
.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}
.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 70%;
}
@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 100%;
  }
}
.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
  right: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(0) {
  transform: translate3D(-23%, -12%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(1) {
  transform: translate3D(19%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(2) {
  transform: translate3D(-39%, 0%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(3) {
  transform: translate3D(-40%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(4) {
  transform: translate3D(-26%, -16%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(5) {
  transform: translate3D(-47%, -9%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(6) {
  transform: translate3D(-11%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(7) {
  transform: translate3D(38%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(8) {
  transform: translate3D(-7%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(9) {
  transform: translate3D(-2%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(10) {
  transform: translate3D(-42%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(11) {
  transform: translate3D(-29%, -20%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(12) {
  transform: translate3D(17%, 13%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(13) {
  transform: translate3D(-49%, 9%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(14) {
  transform: translate3D(9%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(15) {
  transform: translate3D(-26%, -7%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(16) {
  transform: translate3D(-29%, 11%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(17) {
  transform: translate3D(9%, -22%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(18) {
  transform: translate3D(44%, -23%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(19) {
  transform: translate3D(7%, 7%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(20) {
  transform: translate3D(-15%, -24%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}
@media only screen and (max-width: 600px) {
  .viewport .scene3D-container .scene3D > div:nth-child(0) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(1) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(2) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(3) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(4) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(5) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(6) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(7) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(8) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(9) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(10) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(11) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(12) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(13) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(14) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(15) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(16) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(17) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(18) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(19) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(20) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
  }
}

@font-face {
  font-family: "Cotham";
  src: url("/assets/fonts/CothamSans.otf");
}
:root {
  --primo: #1AE11A;
  --secondo:#f2f6fa;
  --terzo:rgb(144, 215, 46);
  --main: #00f;
  --reg: 5vw;
  --tit: 6vw;
  --regRes: 7vw;
  --titRes: 9vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cotham";
  background-color: var(--secondo);
  color: #272935;
  padding: 0;
  margin: 0;
}

#tit {
  font-family: "Cotham";
  font-size: 3.5vw;
  margin: 0;
  position: fixed;
  bottom: 3rem;
  left: 1rem;
  text-align: center;
  z-index: 0;
}

#sottotit {
  z-index: 0;
  font-size: 3vw;
  margin: 0;
  position: fixed;
  bottom: 0.8rem;
  left: 1rem;
  text-align: center;
}

.button {
  font-family: "Cotham";
  font-size: 3.5vw;
  margin: 0;
  position: fixed;
  top: 0.8rem;
  right: 1rem;
  text-align: center;
  z-index: 100;
}

button {
  width: 5vw;
  height: 5vw;
  z-index: 10;
  outline: none;
  background-size: 5vw;
  border: none;
  background-color: var(--secondo);
}

.spirale {
  position: fixed;
  height: 100%;
  width: 50%;
  margin: 0 25%;
  animation: spirale 10s infinite;
}

#info {
  position: fixed;
  width: 100%;
  margin: auto 0;
  text-align: center;
  animation: info 5s;
  font-size: var(--tit);
  color: rgba(0, 0, 0, 0);
}

@keyframes info {
  0% {
    color: black;
  }
  99% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    display: none;
  }
}
textPath {
  font-size: 50px;
  fill: #272935;
}

@keyframes spirale {
  100% {
    transform: rotate(360deg);
  }
}
.darkMode {
  background-color: black;
}
.darkMode h2 {
  color: var(--primo);
}
.darkMode textPath {
  fill: var(--primo);
}
.darkMode path {
  stroke: var(--primo);
}
.darkMode button {
  background: black;
}
.darkMode path {
  fill: var(--primo);
}
.darkMode .scene3D-container {
  filter: invert(1);
}
.darkMode .scene3D-container p {
  color: red;
}

@media only screen and (max-width: 600px) {
  #tit {
    width: 70%;
    font-size: var(--titRes);
    top: 0.8rem;
    text-align: left;
    z-index: 0;
  }

  #sottotit {
    font-size: var(--titRes);
    bottom: 0.8rem;
    text-align: left;
    z-index: 0;
  }

  .spirale {
    width: 100%;
    margin: 0;
  }

  #info {
    margin-top: 30%;
    font-size: var(--regRes);
  }

  .button {
    top: 1.2rem;
  }

  button {
    width: 15vw;
    height: 15vw;
  }
}
@media only screen and (min-width: 600px) {
  .scene3D h1 {
    font-size: var(--titRes);
  }
  .scene3D p {
    font-size: var(--regRes);
  }
  .scene3D img {
    width: 200vw;
  }
}
.scene3D > div {
  padding: 2vw;
  background-color: var(--secondo);
  border: solid var(--primo) 0.3vw;
}
.scene3D > div h1 {
  font-size: var(--tit);
}
.scene3D > div p {
  font-size: var(--reg);
}
.scene3D > div img {
  width: 100vw;
}
.scene3D > div a {
  text-decoration: underline;
  color: var(--primo);
}
.scene3D > div a:hover {
  text-decoration: none;
  filter: invert(100%);
}

/*# sourceMappingURL=style.css.map */
