:root {
  --scenePerspective: .7;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 25;
  --itemZ: 3;
  --cameraSpeed: 150;
  --cameraZ: 60;
  --viewportHeight: 5;
}

.viewport {
  height: calc(var(--viewportHeight) * 1px);
}
.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}
.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}
.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 70%;
}
@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 100%;
  }
}
.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
  right: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(0) {
  transform: translate3D(-8%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(1) {
  transform: translate3D(-19%, 7%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(2) {
  transform: translate3D(36%, 15%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(3) {
  transform: translate3D(-25%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(4) {
  transform: translate3D(16%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(5) {
  transform: translate3D(25%, -17%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(6) {
  transform: translate3D(-7%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(7) {
  transform: translate3D(-6%, -9%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(8) {
  transform: translate3D(8%, 10%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(9) {
  transform: translate3D(-23%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(10) {
  transform: translate3D(22%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(11) {
  transform: translate3D(-15%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(12) {
  transform: translate3D(-38%, -10%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(13) {
  transform: translate3D(4%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(14) {
  transform: translate3D(11%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(15) {
  transform: translate3D(-48%, -13%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(16) {
  transform: translate3D(23%, -5%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(17) {
  transform: translate3D(-5%, 5%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(18) {
  transform: translate3D(-36%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(19) {
  transform: translate3D(-44%, -9%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(20) {
  transform: translate3D(18%, 3%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}
@media only screen and (max-width: 600px) {
  .viewport .scene3D-container .scene3D > div:nth-child(0) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(1) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(2) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(3) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(4) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(5) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(6) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(7) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(8) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(9) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(10) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(11) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(12) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(13) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(14) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(15) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(16) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(17) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(18) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(19) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
  }
  .viewport .scene3D-container .scene3D > div:nth-child(20) {
    transform: translate3D(2%, 2%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
  }
}

@font-face {
  font-family: "Cotham";
  src: url("/assets/fonts/CothamSans.otf");
}
:root {
  --primo: #1AE11A;
  --secondo:#f2f6fa;
  --terzo:rgb(144, 215, 46);
  --main: #00f;
  --reg: 5vw;
  --tit: 6vw;
  --regRes: 7vw;
  --titRes: 9vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cotham";
  background-color: var(--secondo);
  color: #272935;
  padding: 0;
  margin: 0;
}

#tit {
  font-family: "Cotham";
  font-size: 3.5vw;
  margin: 0;
  position: fixed;
  bottom: 3rem;
  left: 1rem;
  text-align: center;
}

#sottotit {
  font-size: 3vw;
  margin: 0;
  position: fixed;
  bottom: 0.8rem;
  left: 1rem;
  text-align: center;
}

.spirale {
  position: fixed;
  height: 100%;
  width: 50%;
  margin: 0 25%;
  animation: spirale 10s infinite;
}

.spirale textPath {
  font-size: 50px;
  color: grey;
}

@keyframes spirale {
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  #tit {
    font-size: var(--titRes);
    top: 0.8rem;
    text-align: left;
  }

  #sottotit {
    font-size: var(--titRes);
    bottom: 0.8rem;
    text-align: left;
  }

  .spirale {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width: 600px) {
  .scene3D h1 {
    font-size: var(--titRes);
  }
  .scene3D p {
    font-size: var(--regRes);
  }
  .scene3D img {
    width: 200vw;
  }
}
.scene3D > div {
  padding: 2vw;
  background-color: var(--secondo);
  border: solid var(--primo) 0.3vw;
}
.scene3D > div h1 {
  font-size: var(--tit);
}
.scene3D > div p {
  font-size: var(--reg);
}
.scene3D > div img {
  width: 100vw;
}
.scene3D > div a {
  text-decoration: underline;
  color: var(--primo);
}
.scene3D > div a:hover {
  text-decoration: none;
  filter: invert(100%);
}

/*# sourceMappingURL=style.css.map */
