:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 2.3;
  --cameraSpeed: 150;
  --cameraZ: 30;
  --viewportHeight: 10;
}

.viewport {
  height: calc(var(--viewportHeight) * 1px);
}
.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}
.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}
.viewport .scene3D-container .scene3D > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
}
@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > div {
    width: 45%;
  }
}
.viewport .scene3D-container .scene3D > div:nth-child(2n) {
  left: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(2n+1) {
  right: 0;
}
.viewport .scene3D-container .scene3D > div:nth-child(0) {
  transform: translate3D(-18%, 48%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(1) {
  transform: translate3D(14%, 24%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(2) {
  transform: translate3D(16%, -9%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(3) {
  transform: translate3D(-8%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(4) {
  transform: translate3D(-11%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(5) {
  transform: translate3D(23%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(6) {
  transform: translate3D(2%, 7%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(7) {
  transform: translate3D(-3%, 1%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(8) {
  transform: translate3D(24%, -1%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(9) {
  transform: translate3D(12%, -27%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(10) {
  transform: translate3D(-15%, -1%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(11) {
  transform: translate3D(23%, 26%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(12) {
  transform: translate3D(-12%, 4%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(13) {
  transform: translate3D(14%, -17%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(14) {
  transform: translate3D(-13%, 47%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(15) {
  transform: translate3D(3%, -3%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(16) {
  transform: translate3D(0%, 43%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(17) {
  transform: translate3D(2%, 29%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(18) {
  transform: translate3D(-7%, 12%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(19) {
  transform: translate3D(23%, -16%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(20) {
  transform: translate3D(-19%, 33%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(21) {
  transform: translate3D(-13%, 23%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(22) {
  transform: translate3D(11%, -43%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(23) {
  transform: translate3D(-21%, 20%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(24) {
  transform: translate3D(-20%, 37%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(25) {
  transform: translate3D(-1%, 21%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(26) {
  transform: translate3D(-13%, -38%, calc(var(--itemZ) * var(--cameraSpeed) * 26 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(27) {
  transform: translate3D(16%, 30%, calc(var(--itemZ) * var(--cameraSpeed) * 27 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(28) {
  transform: translate3D(-6%, -14%, calc(var(--itemZ) * var(--cameraSpeed) * 28 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(29) {
  transform: translate3D(-19%, -36%, calc(var(--itemZ) * var(--cameraSpeed) * 29 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(30) {
  transform: translate3D(6%, -6%, calc(var(--itemZ) * var(--cameraSpeed) * 30 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(31) {
  transform: translate3D(-16%, -27%, calc(var(--itemZ) * var(--cameraSpeed) * 31 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(32) {
  transform: translate3D(-9%, -26%, calc(var(--itemZ) * var(--cameraSpeed) * 32 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(33) {
  transform: translate3D(-12%, -38%, calc(var(--itemZ) * var(--cameraSpeed) * 33 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(34) {
  transform: translate3D(11%, -45%, calc(var(--itemZ) * var(--cameraSpeed) * 34 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(35) {
  transform: translate3D(-14%, 14%, calc(var(--itemZ) * var(--cameraSpeed) * 35 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(36) {
  transform: translate3D(-19%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 36 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(37) {
  transform: translate3D(-22%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 37 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(38) {
  transform: translate3D(6%, -36%, calc(var(--itemZ) * var(--cameraSpeed) * 38 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(39) {
  transform: translate3D(-17%, -37%, calc(var(--itemZ) * var(--cameraSpeed) * 39 * -1px));
}
.viewport .scene3D-container .scene3D > div:nth-child(40) {
  transform: translate3D(24%, -44%, calc(var(--itemZ) * var(--cameraSpeed) * 40 * -1px));
}

@font-face {
  font-family: "Cotham";
  src: url("/assets/fonts/CothamSans.otf");
}
:root {
  --primo: #1AE11A;
  --secondo:#f2f6fa;
  --terzo:rgb(144, 215, 46);
  --main: #00f;
  --reg: 2vw;
  --tit: 3vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cotham";
  background-color: var(--secondo);
  color: #272935;
  padding: 0;
  margin: 0;
}

#tit {
  font-family: "Cotham";
  font-size: var(--tit);
  margin: 0;
  position: fixed;
  bottom: 3rem;
  left: 1rem;
  text-align: center;
}

#sottotit {
  font-size: var(--tit);
  margin: 0;
  position: fixed;
  bottom: 0.8rem;
  left: 1rem;
  text-align: center;
}

.spirale {
  position: fixed;
  height: 100%;
  width: 50%;
  margin: 0 25%;
  animation: spirale 10s infinite;
}

.spirale textPath {
  font-size: 50px;
  color: grey;
}

@keyframes spirale {
  100% {
    transform: rotate(360deg);
  }
}
.scene3D > div {
  padding: 2vw;
  background-color: var(--secondo);
  border: solid var(--primo) 0.3vw;
}
.scene3D > div h1 {
  font-size: var(--tit);
}
.scene3D > div p {
  font-size: var(--reg);
}
.scene3D > div a {
  text-decoration: underline;
  color: var(--primo);
}
.scene3D > div a:hover {
  text-decoration: none;
  filter: invert(100%);
}

/*# sourceMappingURL=style.css.map */
