:root {
  --scenePerspective: .7;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 25;
  --itemZ: 3;
  --cameraSpeed: 150; // Where 1 is the fastest
  --cameraZ: 60;
  --viewportHeight: 5;

}

.viewport {
  height: calc(var(--viewportHeight) * 1px);

  .scene3D-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
    perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%)
      calc(var(--scenePerspectiveOriginY) * 1%);
    will-change: perspective-origin;
    transform: translate3d(0, 0, 0); //Allow Hardware-Accelerated CSS

    .scene3D {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      transform-style: preserve-3d;
      transform: translateZ(calc(var(--cameraZ) * 1px));
      will-change: transform;

      > div {
        position: absolute;
        display: block;
        width: 100%;
        top: 70%;


        @media only screen and (min-width: 600px) {
          width: 100%;
        }

        @media only screen and (max-width: 600px) {
          width: 100%;
          
        }

        &:nth-child(2n) {
          left: 0;
        }

        &:nth-child(2n + 1) {
          right: 0;
        }

        @for $i from 0 through 20 {
          &:nth-child(#{$i}) {
            transform: translate3D(
              random(100) - 50 * 1%,
              random(40) - 25 * 1%,
              calc(var(--itemZ) * var(--cameraSpeed) * #{$i} * -1px)
            );
          }
        }

        @media only screen and (max-width: 600px) {
          @for $i from 0 through 20 {
            &:nth-child(#{$i}) {
              transform: translate3D(
                 2%,
                2%,
                calc(var(--itemZ) * var(--cameraSpeed) * #{$i} * -1px)
              );
            }
          }
        }

      }
    }
  }
}

// ----------
// Styling
// ----------

@font-face {
  font-family: "Cotham";
  src: url("/assets/fonts/CothamSans.otf");
}

:root{

  // --primo: #ff14d0;
  // --primo: #560C84;
  --primo: #1AE11A;

  // --secondo:  #0f0;
  // --secondo: #1FEA76;
  --secondo:#f2f6fa;

  --terzo:rgb(144, 215, 46);

  --main: #00f;

  --reg: 5vw;
  --tit: 6vw;
  --regRes: 7vw;
  --titRes: 9vw;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body {
  font-family: "Cotham";
  background-color: var(--secondo);
  color: hsl(231, 15%, 18%);
  padding: 0;
  margin: 0;
}

#tit{
  font-family: "Cotham";
  font-size: 3.5vw;
  margin: 0;
  position: fixed;
  bottom: 3rem;
  left: 1rem;
  text-align: center;
}

#sottotit {
  font-size: 3vw;
  margin: 0;
  position: fixed;
  bottom: .8rem;
  left: 1rem;
  text-align: center;
}

.spirale{
  position: fixed;
  height: 100%; 
  width: 50%; 
  margin: 0 25%; 

  animation: spirale 10s infinite;
}

.spirale textPath{
  font-size: 50px;
  color: grey;
}

@keyframes spirale {
  100% {transform:rotate(360deg)}
}

@media only screen and (max-width: 600px) {
  #tit{
    font-size: var(--titRes);
    top: .8rem;
    text-align: left;
  }
  #sottotit{
    font-size: var(--titRes);
    bottom: .8rem;
    text-align: left;

  }
  .spirale{
    width: 100%;
    margin: 0
  }
}


.scene3D {

  @media only screen and (min-width: 600px) {
    h1 {
      font-size: var(--titRes);
    }

    p{
      font-size: var(--regRes);
    }

    img{
      width: 200vw;
    }
  }


  > div {
    padding: 2vw;
    background-color: var(--secondo);
    border: solid var(--primo) .3vw;

    h1 {
      font-size: var(--tit);
    }

    p{
      font-size: var(--reg);
    }

    img{
      width: 100vw;
    }

    a{
      text-decoration: underline;
      color: var(--primo);
    }

    a:hover{
      text-decoration: none;
      filter: invert(100%);
    }


    }
  }
